@sheng.zhang:registry=https://gitlab.xtalpi.xyz/sheng.zhang/component-gallery-xtapi
//https://gitlab.xtalpi.xyz/sheng.zhang/component-gallery-xtapi/packages/npm/:_authToken=17CF8Xhnc32yp8odKDRQ
//https://gitlab.xtalpi.xyz/sheng.zhang/component-gallery-xtapi/210/packages/npm/:_authToken=17CF8Xhnc32yp8odKDRQ