@component-gallery-xtapi:registry=https://gitlab.xtalpi.xyz/api/v4/packages/npm/
//gitlab.xtalpi.xyz/api/v4/packages/npm/:_authToken=17CF8Xhnc32yp8odKDRQ
//gitlab.xtalpi.xyz/api/v4/projects/210/packages/npm/:_authToken=17CF8Xhnc32yp8odKDRQ