@component-gallery-xtapi:registry=https://gitlab.xtalpi.xyz/api/v4/packages/npm/
//gitlab.xtalpi.xyz/api/v4/packages/npm/:_authToken=RGyRoFCcx76ZfNNZCQ3zz
//gitlab.xtalpi.xyz/api/v4/projects/210/packages/npm/:_authToken=RGyRoFCcx76ZfNNZCQ3zz